
.level{
  display: flex;
  justify-content: flex-start;
  color:white;
  h4{font-size: 15px;
    font-weight: bold;
  }
}

#button_go{
  width: 70vw;
  margin-left: 15vw;
}

.new_played{
margin-top: 115px;
margin-bottom: 60px
}

.top{
  top: 50px !important;
}

#new_played_instrument{
  margin-top: 4vh;
}

.level_description{
  p{
    padding:0px;
    color: white;
    margin: 5px 0px;
    font-size: 14px;
    font-weight: lighter;
  }
}

.partial_form{
  border-left: 1px lightgrey solid;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 10px;
}

.card_new_played{
  border: 1px lightgrey solid;
  padding: 7px 12px;
  margin-top: 20px;
  background-color: white;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  #instrument_label{font-size: 15px;
    font-weight: bold;
  }
  #instrument_name{
    border-bottom: solid 2px #009688;
    display: flex;
    margin-top: 10px;
    padding-bottom: 5px;
    font-weight: 500;
    #name_margin_left{
      margin-left: 3px;
    }
  }
  #flexbox_level{
    display: flex;
    margin-top: 15px;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0px;

    #level_text{
      font-size: 15px;
      font-weight: bold;
    }

  }
}

.circles_level{
 color: white;
 font-weight: lighter;
 display: flex;
 padding: 0px 15px;
    }

#button-flex{
  display:flex;
  justify-content: center;
  align-items: center;
  height:35px;
  width:35px;
  padding: 0px;
}

#add_button{
  top: 0px;
  font-size: 33px;
}

.wrap-add-instrument{
  width: 100%;
  display: inline-flex;
  position: relative;
  padding: 10px 5px;
  height: 65px;
  align-items: center;
}

.flex-add-instrument{
 display:flex;
 align-items:center;
 position: absolute;
 color:white;
 right: 5vw;
 width: 165px;
 justify-content: space-around;
}

#instrument-input{
  font-weight: bold !important;
}

#white-color{
  color: white;
  option{
    color: black;
     &:hover{
      background-color: $blue;
     }
  }
}
