
.card-profile {
  height: 25vh;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  position: relative;
  background: rgba(248,248,255, 0.3);
  margin-top:7vh;
  shadow: 0 1px 3px #DFDFDF;
  border-bottom: 1px solid #E0E0E0;
}

.wrapper {
  height: 100vh;
  margin-top:7vh;
  color: white;
  position: absolute;
}

.instrument {
  border-color: #D5D5D5;
  border-bottom: 0.5px solid;
}


