.background{
  background-repeat: repeat;
  background-size: contain;
  position: fixed;
  width: 100%;
  bottom: 0px;
  top: 0px;
}

.flexbox-picture{
 display:flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 125px;
 position: absolute;
 top: 36px;
}

.profile-page{
  position: absolute;
  width: 100%;
  height: auto;
}

.user-show{
 background-color: #F7F7F7;
 top: 100px;
 height: 300px;
 position: absolute;
 width: 100%;
 padding-top: 75px;
}

.user-name-show{
 display:flex;
 align-items: center;
 justify-content: center;
 color: $blue;
 font-family: 'Raleway', serif;
 font-weight: 500;
 position: relative;
 font-size: 17px;
}

.user-description{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 30px;
  font-family: 'Raleway', serif;
  font-size: 15px;
  text-align: justify;
  bottom: 55px;
  position: absolute;
  top: 105px;
}

.link-message{
  border: 1px solid $blue;
  padding: 6px 118px;
  color: $blue;
  background-color: #F7F7F7;
  &:focus{
    text-decoration: none;
    color: $blue;
  }
}

.message{
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

.shadow{
 box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.profile-instruments{
  position: relative;
  top: 400px;
  width: 100%;
  height: 300px;
}

.flexbox-icon{
  display: flex;
  position: absolute;
  top: 0px;
  width: 100%;
  justify-content: center;
  align-items:center;
  height: 100px;
}

#icon-piano{
  width: 50px;
}

.for-profile{
  top: 105px;
  color: white;
}

.instruments-container{
  display: flex;
  justify-content: center;
}
