<div id="toggle_for_sidebar"></div>

<div class="container">
  <div class="row">

    <!-- THIS IS THE FILTER TO BLACKEN THE PAGE WHEN SIDEBAR IS ACTIVE -->



    <div class="col-xs-10 col-xs-offset-1">

        kldksldkslkd
    </div>
  </div>
</div>

