<% if user_signed_in? %>
  <div class="navbar-medlii">
    <div class="sidebar-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
<div class="flex-title-navbar">
    <div class="navbar-title">medlii.</div>
</div>

    <% current_uri = request.env['PATH_INFO'] %>
<% if current_uri == users_path %>
    <div id = "logo-medlii" class="navbar-search-logo" style=" background-image: url('<%= asset_path "medlii_blue_logo.png" %>');"> </div>
    <% end %>
  </div>
<% end %>

