<div class="navbar-medlii">

  <div class="sidebar-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="navbar-title">medlii.</div>

  <div class="navbar-search-logo" style=" background-image: url('<%= image_path "medlii_blue_logo.png" %>');"> </div>

</div>
