<div class="sidebar">

  <ul>
    <li>
      <%= link_to edit_user_registration_path do %>
        <h3>Edit Profile</h3>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path do %>
        <h4>SIGN OUT</h4>
      <% end %>
    </li>
  </ul>

  <div class="sidebar-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>

</div>

<% if user_signed_in? %>

<% end %>
