<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>


<a href="javascript:void(0)" class="btn btn-raised btn-danger"> Danger <div class="ripple-container"></div></a>

</div>
