
  <!-- <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p> -->



  <!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(41,137,188,0.6) 0%, rgba(41,137,188,0.6) 40%), url('<%# image_path "medlii_banner.jpeg" %>');"> -->
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(58,82,153,0.6) 0%, rgba(58,82,153,0.6) 40%), url('<%= image_path "medlii_banner.jpeg" %>');">
    <div class="banner-content">
      <%= image_tag("medlii logo empty .png", size: "215x300") %>
      <%# image_tag("medlii logo empty 2.png", size: "259x300") %>
      <%# image_tag("medlii logo moon dark.png", size: "207x300") %>
      <%# image_tag("medlii logo new 1.png", size: "271x300") %>

      <p>music friend next door</p>
      <%= link_to 'LOG IN', user_registration_path, class: "btn btn-raised btn-andy"%>
<!--         <a href="javascript:void(0)" class="btn btn-raised btn-andy"> LOG IN </a>
    </div>
  </div>



<!-- <a href="javascript:void(0)" class="btn btn-raised btn-danger"> Danger <div class="ripple-container"></div></a> -->

