.sidebar {
  background: #F4EADE;
  height: 100%;
  width: 300px;
  left: -300px;
  top: 0px;
  position: fixed;
  display: block;
  margin: 0px;
  padding: 0px;
  transition: left, 0.3s linear;
  z-index: 3;
}

.sidebar-visible {
  left: 0px;
}

.sidebar-list {
  list-style: none;
  text-decoration: none;
  text-align: center;
  margin-right: 35px;
  margin-top: 60px;
  h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  p {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.margin-bottom {
  margin-bottom: 40px;
}

.age-font-size {
  font-size: 16px;
}

.sidebar-btn {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top: 0px;
  left: 300px;
  span {
    height: 1px;
    background: #111;
    margin-bottom: 5px;
    display: block;
  }
  span:nth-child(2){
    width: 75%;
  }
  span:nth-child(3){
    width: 50%;
  }
}

.h_line {
  width: 100%;
  border: 1px solid #babfc6;
}

.move-container {
/*  margin-left: 300px;*/
  opacity: 0.3;
}
