  <div class="background" style="background-image: url('<%= image_path "blue_background.jpg" %>');"> </div>
  <div class="container">
    <div class="row ">
    <%= link_to :back, id:'back-arrow', class: 'top' do %>
<i class="fa fa-angle-left" aria-hidden="true"></i>
<% end %>
      <div class="col-xs-10 col-xs-offset-1">


        <div class="new_played">
          <div id="all_played_instruments">
            <% current_user.played_instruments.each do |played_instrument| %>
            <%= render 'show', played_instrument: played_instrument %>
            <% end %>
          </div>
          <div id="form_played_instrument">
            <%= render 'form_played_instrument', played_instrument: @played_instrument %>
          </div>
        </div>


      </div>
    </div>
  </div>

<% content_for :after_js do %>

<script>

$( document ).ready(function() {
    var played_instrument = $('.card_new_played');
    if(played_instrument != null) {
      $('#hidden-link').removeClass('hidden');
    }
});


  function dots(){
    $('.ratingComponent__dot').on('click', function(){
      $(this).addClass("hover")
      $(this).prevAll().removeClass("hover")
      var level = $(this).attr('id');
      console.log(level);
      $('#played_instrument_level').val(level);
    });

    $('#1').on('click', function(){
      $('.level_description').empty().append('<p>1: <i>beginner</i> </p>')
    });
    $('#2').on('click', function(){
      $('.level_description').empty().append('<p>2: <i>amateur</i> </p>')
    });
    $('#3').on('click', function(){
      $('.level_description').empty().append('<p>3: <i>intermediate</i> </p>')
    });
    $('#4').on('click', function(){
      $('.level_description').empty().append('<p>4: <i>semi-pro</i> </p>')
    });
    $('#5').on('click', function(){
      $('.level_description').empty().append('<p>5: <i>pro</i> </p>')
    });
  };
  dots()
</script>

<% end %>
