.card-profile {
  height: 170px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  position: relative;
  margin: 30px;
}

.wrapper {
  padding: 10px;
  background-color: #E3E3E3;


}

.instrument {
  border-color: #F6F6F6;
  border-bottom: 0.5px solid;
}

.chat-icon {
  color: #1D9DDF;
}


