.margin-top{
margin-top:80px;

}

.card-medlii {
  height: 350px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  position: relative;
  justify-content: center;
  color: white !important;
  margin-top: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

