.profile {
  background-size: cover;
  height: 92.5vh;
  font-family: 'Raleway', serif;
  h2 {
    color: white;
    text-align: left;
    font-family: 'Raleway', serif;
  }
}

.edit-profile{
  background-size: cover;
  height: 170.5vh;
  font-family: 'Raleway', serif;
  h2 {
    color: white;
    text-align: left;
    font-family: 'Raleway', serif;
  }
  h3 {
    margin-top: 40px;
    font-size: 23px;
    color: white;
    text-align: left;
    font-family: 'Raleway', serif;
  }
}

.input {
  color: white;
  width: 85%;
  margin-bottom: 20px;
}

.link-position {
  margin: 20px 45px 30px 0px;
  text-align: right;
}

.distance-bottom {
  margin-bottom: 35px;
}

.margin-left {
  margin-left: 30px;
}

.white {
  color: white !important;
}

.edit-margin-left {
  margin-left: 12px;
}

.simple_form {
  label {
    color: white !important;
    font-weight: lighter;
  }
}
.flashes {
  z-index: 3;
  position: relative;
  width: 100%;
  margin-bottom: -50px;
}
