.padded {
  padding: 20px;
}



.margin {
  margin-bottom: 10px;
}

.filter-row{
  display:flex;
  justify-content: space-around;
}


.btn-filter {
  background-color: transparent !important;
  color: white !important;
  border: hidden !important;
  padding: 13px 20px !important;
  font-weight: lighter!important;
}

.musicians {
background-color: #fafafa;
}

