
<%  My Appointments %>
 <div>
   <% conversation.appointments.each do |appointment| %>
   <%= appointment.address %>
    <%= appointment.date %>
    <%= appointment.other_user %>
    <% end %>
      </div>
